.blog-page header.page-header .nav-links a,  .blog-page header.page-header .btn.btn-link{
    color: white;
}
.blog-page header.page-header  .user-links a.btn.signup{
    background-color: var( --btn-primary);
}
.blog-page header.page-header  .user-links a.btn.signup span{
    color: white;
}
.blog-page header.page-header .logo a img.logo-black{
    display:none;
}
.blog-page header.page-header .logo a img.logo-white{
    display: inline-block;
}
.blogs-section{
    background-image: url(images/circles-shape.svg);
}
.blogs-section .blogs-banner {
    background-image: url(images/circles-shape.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.blogs-banner {
    background-color: var(--color-black);
    color: white;
    margin-top: -100px;
    padding: 120px 0 50px;
    text-align: center;
    font-size: 22px;
    display: flex;
    flex-direction: row;
}

.blogs-banner p{
    max-width: 580px;
}
.blogs-listing-container {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.blogs-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2;
}
.blog-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C8C8C8;
}
.blog-card .blog-content {
    flex: 2;
}
.blog-card  .blog-image img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px;
}
.blog-card p{
    margin: 0 0 ;
}
.blog-card .blog-content h2 {
    font-size: 18px;
    font-weight: 400;
}
.blog-author {
    display: flex;
    gap: 10px;
    align-items: center;
}
 .blog-author p.author-name {
    font-weight: 500;
    line-height: 1rem;
}
.blog-author p{
    margin: 0;
}

.blog-card .blog-short-description {
    margin-bottom: 10px;
}
.blog-card  a.read-more-link {
    background: #F8F8F8;
    color: #000;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
}
.blog-card .blog-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-container .side-panel {
    flex: 1;
    max-width:360px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
 .side-panel .cta-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: var(--color-primary);
    color: white;
    padding: 30px;
    border-radius: 20px;
}
.blog-container .side-panel .cta-block h3{
    font-size: 28px;
}
.blog-container .side-panel .cta-block  a.btn {
    background: white;
    color:var(--color-primary);
}
.side-panel .cta-block ul.feature-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
}
.side-panel .cta-block .feature-list li::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(images/arrow-icon-green.svg);
    border-radius: 50%;
    background-color:white;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    margin: 0 10px 0 0;
}
.side-panel .slider-block {
    padding: 30px;
    background: #F8F8F8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.feature-slider-container .feature-slider   {
    background: white;
    border-radius: 15px;
    padding: 0px;
    box-shadow: 0 0 28px hsla(0, 0%, 0%, 0.12);
}
.feature-slider-container .feature-slider .feature-slide{
    padding: 20px;
}
.feature-slider-container .feature-slider .feature-slide p {
    margin: 0;
    font-size: 14px;
}

.feature-slider-container .glider-dots {

    margin-top: 20px;
}
.feature-slider-container .glider-dot {
    display: block;
    cursor: pointer;
    color: #ccc;
    border-radius: 999px;
    background: var(--color-black);
    width: 8px;
    height: 8px;
    margin: 7px;
}

.feature-slider-container .glider-dot.active {
    background: var(--btn-primary);
}
.recent-block-container {
    background-color: #F8F8F8;
    padding: 50px 0;
}
.recent-block-container .blog-card {
    border: 0;
    padding: 0;
}
.recent-block-container .blog-card .blog-image img {
    width: 460px;
    height: 280px;
}
.recent-block-container .blog-card .blog-short-description {
    margin: 20px 0;
}
.recent-block-container  .blog-card .blog-content h2 {
    font-size: 24px;
}
.blog-view-header {
    background: var(--color-black);
    color: white;
    margin-top: -150px;
    padding: 170px 0 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
.blog-view-header .container{
    min-height: 30vh;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.blog-view-header p.blog-date {
    font-size: 20px;
    margin: 0;
}
.blog-view-content {
    font-size: 20px;
    line-height: 1.6;
}
.blog-view-content img.blog-view-image {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
}
.blog-view-content p {
    margin: 0 0 30px;
}

.blog-view-author {
    background: #F8F8F8;
    display: flex;
    padding: 20px 30px;
    border-radius: 20px;
    gap: 50px;
}
.blog-view-author .auth-info {
    flex: 2;
    align-self: center;
}
.blog-view-author hr {
    width: 1px;
    flex: none;
    margin: 0;
    background: rgb(0 0 0 / 20%);
    border: 0;
}
.blog-view-author .author-description {
    flex: 3;
    font-size: 14px;
    font-weight: 400;
}
.blog-view-author .auth-info h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.blog-view-related-list {
    display: flex;
    gap: 80px;
    justify-content: space-between;
}
.blog-view-related-list .blog-card {
    flex-direction: column;
    gap: 0;
}
.blog-view-related-list .blog-card .blog-image img {
    width: 100%;
}
@media (min-width: 768px) {
.blog-container {
    padding: 60px 0;
    display: flex;
    gap: 120px;
    flex-direction: row;
}
.blog-card {
    flex-direction: row;
    gap: 80px;
}
.blog-card  .blog-image img {
    width: 240px;
}

}